/* 
    This is the CSS file for the root page. Only put changes in here
    intended for the main page of the site!
*/

.mainTitle {
    font-size: min(calc(2rem + 2vw), 3rem);
    display: block;
    padding-top: 5px;
    line-height: min(calc(2.2rem + 2vw), 3rem);
}

#card {
    background-color: rgba(20, 5, 90);
    padding: 15px;
    border: 2px white solid;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    z-index: 3;
    position: relative;
    border-radius: 12px;

    box-shadow: outset rgb(35, 20, 60) 0px 0px 20px;
}

.animatedTitle {
    animation: mainText 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: auto;
    max-width: 75%;
    padding-top: 30px;
    /* outline: 1px white solid; */
}

.animatedMain {
    opacity: 1;
    animation: fadeDelay 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pfp {
    border-radius: 15px;
    border: darkgray 4px solid;
    width: 60%;
    aspect-ratio: 1/1;
    transform: scale(0.9);
    border-radius: 50%;
}

.activity {
    border-width: 3px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 3;
    /* max-height: 200px; */
}

.activity>p {
    width: 100%;
    max-height: 100%;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    padding: 3px;
    line-height: 1.5rem;
    align-self: center;
}

.activity>img {
    width: 40%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.activity>img:not(.smallimg) {
    min-width: 150px;
    max-width: 150px;
}

.activity>.smallimg {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 50px;
    background: black;
    padding: 5px;
    /* border: 2px gray solid; */
    transform: scale(0.9);
}

.activity>.smallimg:hover {
    transform: scale(1);
}

img:not(.project-inner > div > img):not(.activity>img) {
    width: 100%;
    max-width: 168px;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 850px) {
    .activity-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .activity {
        flex: 0 0 49%;
        margin: auto;
        padding: 0;
        margin: 0;
        align-content: center;
    }
}

.lengthBar {
    background-color: rgb(50, 40, 60);
    display: inline-block;
    width: 80%;
    height: 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 1.9%;
}

.lengthBar>span {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(200, 200, 230);
    height: 20px;
    display: block;
    position: relative;
}

@keyframes mainText {
    0% {
        transform: translateY(calc(50vh - 6rem)) scale(1.5);
        opacity: 0;
        height: 4rem;
    }

    50% {
        opacity: 1;
        height: 4rem;
        transform: translateY(calc(50vh - 6rem)) scale(1.25);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeDelay {
    0% {
        opacity: 0;
        display: none;
    }

    66% {
        opacity: 0;
        transform: translateY(25vh);
        display: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes hideContent {
    0% {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    100% {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}