/* 
    This page applies to any page on the site EXCEPT
    the main page. Please only make changes here if you
    want to modify the CSS of ALL subpages.
*/

h1:nth-of-type(1) {
    font-size: 2.5rem;
}

body {
    padding: 5vh 0;
}

main {
    animation: fadeUp 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeUp {
    0% {
        transform: translateY(50vw);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}